body {
    font-family: Arial, sans-serif;
    background-color: #25415b;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.NameOfGame
{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: 
        translate(-50%, -50%);
    font-size: 70px;
}
.StartGame
{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: 
        translate(-50%, -50%);
    font-size: 60px;
    cursor: pointer;
    background-color: white;
    border-radius: 45px;
}
.SetParameters
{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: 
        translate(-50%, -50%);
    font-size: 70px;
}
.NumberOfPlayers
{
    position: absolute;
    top: 47%;
    font-size: 40px;
}
.NumberOfPlayers select
{
    position: relative;
}
.SelectMap
{
    position: absolute;
    font-size: 40px;
    top: 57%;
}
.SelectMap select
{
    position: relative;
}
.SelectPawns
{
    position: absolute;
    font-size: 40px;
    top: 66%;
}
.SelectPawns input
{
    position: relative;
}
.Submit
{
    position: absolute;
    font-size: 40px;
    top: 77%;
}
#map-container {
    position: relative;
    width: 1200px;  /* Fixed width */
    height: 800px;  /* Fixed height */
    margin: 20px auto;
    border: 1px solid #ddd;
    overflow: hidden;
}

/* Background map image */
#map-image {
    width: 100%; /* Matches the container’s width */
    height: auto; /* Ensures aspect ratio consistency */
    display: block;
}

/* SVG overlay on top of the map image */
#map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Allows clicks only on visible elements */
}
#map-container {
    width: 100vw;
    height: 100vh;
}

svg {
    width: 100%;
    height: 100%;
    display: block;
}
.side-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 160px;
    height: 600px;
}

#left-side-image {
    left: 0;
}

#right-side-image {
    right: 0;
}
.countries-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.country-btn {
    padding: 15px;
    font-size: 45px;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #333;
}

.country-btn:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.country-btn.selected {
    background-color: #e0e0e0;
    border-color: #999;
}
.textFont30
{
    font-size: 30px;
}